<div fxLayout="column" >
	

	<div fxLayout="column" class="service-card-content">

		<div fxLayout="row" class="service-card-container" fxLayout.lt-md="column" fxLayoutGap="20px"  >

			<div fxFlex.lt-md="100" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="20px" fxFlex.gt-sm="32" class="mat-elevation-z4 service-card "  *ngFor="let satista of satislar">
				<img src="/assets/pages/webdesign.png" fxFlex>
				<h4>Kulanıcı:{{satista.kullaniciAdi}}</h4>
				<h3 class="mat-title" fxFlex>İtem:{{satista.adi}}</h3>
				<p class="mat-body-2"  fxFlex>{{satista.aciklama}}</p>
				<div col-md-2>
					<h3 style="padding-left:10px">Fiyat:{{satista.satisFiyati}}</h3>
					</div>
					
					<button mat-raised-button color="primary">Satın Al</button>
			</div>

		</div>
	</div>
</div>

